.counter{
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter>*:not(:last-child){
    margin-right: 17px;
}

.counter button{
    width: 34px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.counter button:hover{
    background: #FFC85E;
}

.counter div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #3F4E65;
}